* {
  margin: 0;
}

html, body {
  height: 100%;
}

.contents {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 800px;
  padding-top: 30px;
  margin: 0 auto;
}

#star-chart thead {
  display: block;
}

#star-chart tbody {
  display: block;
  height: 80px;
  overflow-y: scroll;
}

#star-chart th, td {
  width: 100px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.tabs-item {
  display: block;
  padding: .5rem 1rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border: 1px solid #eee;
}

.tabs-item.active {
  background-color: #eee;
}

.tab-content {
  background-color: #eee;
  padding: .5rem 1rem;
}
