* {
  margin: 0;
}

html, body {
  height: 100%;
}

.contents {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 800px;
  padding-top: 30px;
  margin: 0 auto;
}

#star-chart thead {
  display: block;
}

#star-chart tbody {
  display: block;
  height: 80px;
  overflow-y: scroll;
}

#star-chart th, td {
  width: 100px;
}